<!DOCTYPE html>
<html lang="utf-8">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>模板库</title>                       <!--网页标题-->
        <meta name="description" content="模板库">  <!--网页介绍-->
        <META NAME ="keywords" CONTENT="模板库">    <!--搜索关键词-->
        <link rel="stylesheet" href="__Css__/bootstrap.min.css">
        <link rel="stylesheet" href="__Css__/index.css">
        <link rel="shortcut icon" type="image/x-icon" href="__Image__/favicon.ico" />
        <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
	</head>
<body>
	<include file="Public/menu" />
    <div class="row">
      <foreach name="result" item="v">
          <div class="col-sm-6 col-md-4 muban">
              <div class="thumbnail">
                  <img class="muban-img" src="__Public__{$v.suolue}" alt="{$v.id}">
                  <div class="caption">
                      <h3>上传人：{$v.uper} <span class="label label-info">{$v.id}</span></h3>
                      <p>上传时间：{$v.time|date="Y-m-d",###}</p>
                      <p>
                      <a href="{:U('/Admin/Upload/delete',array('id' => $v['id']))}" class="btn btn-primary" role="button">删除</a> 
                      </p>
                  </div>
              </div>
          </div>
        </foreach>
    </div>
{$page}
<include file="Public/footer" />
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="__Js__/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="__Js__/bootstrap.min.js"></script>
</body>
</html>