<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- IE渲染模式 -->
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- 初始化移动浏览显示 -->
    <title>模板库</title> <!-- 网页标题 -->
    <meta name="description" content="模板库">
    <meta name="keywords" content="模板库">

    <!-- Bootstrap -->
    <link href="__Css__/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__Css__/index.css">
    <link rel="shortcut icon" type="image/x-icon" href="__Image__/favicon.ico" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <include file="Public/menu" />
    <form action="{:U('/Admin/Upload/upload')}" method="post" enctype="multipart/form-data">
        <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4>上传模板</h4>
              </div>
              <div class="panel-body">
                <div class="formgroup">
                  <label for="suolue" class="control-label">缩略图：</label>
                  <input type="file" name="suolue" id="suolue" class="form-control">
                </div>
                <div class="formgroup">
                  <label for="orther" class="control-label">附件：</label>
                  <input type="file" name="orther" id="orther" class="form-control">
                </div>
                <div class="formgroup">
                  <br>
                  <input class="btn btn-info" type="submit" value="确定添加">
                </div>
              </div>
          </div>
        </div>
      </div>
    </form>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__Js__/bootstrap.min.js"></script>
  </body>
</html>